#postgres
SOFTWARE_VERSION_TAG_DB=14.3-alpine3.16
NAME_DB=ProductDB
USER_DB=ProductApi
PASS_DB=Zajuna789456*
PORT_DB=5432

#pgAdmin
SOFTWARE_VERSION_TAG_PG=REL-8_0
USER_PG=adminsena@example.com
PASS_PG=SenaSofia123654*
PORT_PG=8080